.mainBar {
  /* position: fixed; */
  width: 100%;
  /* background: var(--color-back); */
  display: flex;
  justify-content: flex-end;

  .left {
    display: flex;
    gap: 2.5rem;
    align-items: center;
    flex-grow: 1;
  }

  .left,
  .right {
    padding: 1.25rem 2.5rem;
    display: flex;
    align-items: center;
  }
}

.mainMenu {
  display: flex;
  gap: 3.25rem;
  margin: 0;
  padding: 0;
}

.mainMenu > li {
  display: inline-block;
  text-decoration: none;
}

.mainMenu > li > a {
  font-size: 1.5rem;
  display: inline-block;
  color: var(--color-light);
  text-decoration: none;
  font-weight: bold;
  box-sizing: border-box;
  border-bottom: 0.25rem solid var(--color-trans);
  transition: border-bottom 0.2s;
}

.mainMenu > li > a:hover {
  box-sizing: border-box;
  border-bottom: 0.25rem solid var(--color-pink);
}
