.portfolio {
  display: flex;
  background-color: var(--color-back);
  flex-direction: column;
  background-image: url("../../../../assets/office.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-origin: padding-box;
  padding: 5rem 2.5rem 5rem 2.5rem;
}

.portfolio > .cont {
  max-width: 70rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.portfolio > .cont > .header {
  display: flex;
}

.portfolio > .cont > .header > h2 {
  flex-grow: 1;
  font-size: 4rem;
  font-weight: bold;
}

.portfolio > .cont > .header > .arrows {
  display: flex;
  gap: 0.63rem;
}

.portfolio > .cont > .header > .arrows > button {
  height: 4rem;
  width: 4rem;
  border-radius: 0.63rem;
  background-color: var(--color-pink);
  color: var(--color-light);
  transition:
    background-color 0.2s,
    cursor 0.2s;
}

.portfolio > .cont > .header > .arrows > button:hover {
  background-color: var(--color-light);
  cursor: pointer;
}

.portfolio > .cont > .header > .arrows > button > .arrow {
  color: var(--color-back);
  height: 2.63rem;
}

.portfolio > .cont > .content {
  display: flex;
  gap: 5rem;
}

@media (max-width: 1200px) {
  .portfolio > .cont > .content {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
  }
}

.portfolio > .cont > .content > .picCont > .pic {
  border: 0.25rem solid var(--color-pink);
  border-radius: 1.25rem;
}

.portfolio > .cont > .content > .info {
  display: flex;
  flex-direction: column;
  gap: 0.63rem;
}

.portfolio > .cont > .content > .info > .title {
  display: flex;
  gap: 1.25rem;
}

.portfolio > .cont > .content > .info > .title > h3 {
  font-size: 2.5rem;
  font-weight: bold;
}

.portfolio > .cont > .content > .info > .title > .social {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.portfolio > .cont > .content > .info > .title > .social > li > a {
  color: var(--color-blue);
}

.portfolio > .cont > .content > .info > p {
  font-size: 2rem;
}

.portfolio > .cont > .content > .info > .tags {
  display: flex;
  margin-top: 3.13rem;
  gap: 1.25rem;
  flex-wrap: wrap;
}

.portfolio > .cont > .content > .info > .tags > li {
  font-size: 1.5rem;
  padding: 0.38rem 0.75rem;
  border-radius: 0.63rem;
  background-color: var(--color-blue);
}
