.welcome {
  display: flex;
  justify-content: center;
  gap: 7.75rem;
}

.welcome .left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.welcome .left .title {
  font-size: 8rem;
  font-weight: bold;
}

.welcome .left .cont {
  display: flex;
  flex-direction: column;
  gap: 0.63rem;
}

.welcome .left .cont .desc > h2 {
  font-size: 4rem;
  font-weight: bold;
  color: var(--color-pink);
}

.welcome .left .cont .desc > h3 {
  font-size: 2.5rem;
  font-weight: bold;
}

.welcome .left .cont .social {
  display: flex;
  gap: 1.75rem;
}

.welcome .right {
}

.welcome .right .pic {
}
