/* General */

.welcome,
.skills,
.portfolio,
.contact {
}

/* Welcome */

.welcome {
  display: flex;
  justify-content: center;
  gap: 7.75rem;
}

.welcome .left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.welcome .left .title {
  font-size: 8rem;
  font-weight: bold;
}

.welcome .left .cont {
  display: flex;
  flex-direction: column;
  gap: 0.63rem;
}

.welcome .left .cont .desc > h2 {
  font-size: 4rem;
  font-weight: bold;
  color: var(--color-pink);
}

.welcome .left .cont .desc > h3 {
  font-size: 2.5rem;
  font-weight: bold;
}

.welcome .left .cont .social {
  display: flex;
  gap: 1.75rem;
}

.welcome .right {
}

.welcome .right .pic {
}

/* Skills */

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3.75rem;
}

.skills > h2 {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
}

.skills .areas {
  display: flex;
  justify-content: center;
  gap: 3.75rem;
}

.skills .areas > li {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 2.5rem;
}

.skills .areas > li > h3 {
  font-size: 2.5rem;
  font-weight: bold;
}

.skills .areas > li > .techs {
  display: flex;
  flex-direction: column;
  gap: 0.63rem;
}

.skills .areas > li > .techs > li {
}

/* Portfolio */

.portfolio {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  background-image: url("/office.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-origin: padding-box;
}

.portfolio > .header {
  display: flex;
}

.portfolio > .header > h2 {
  flex-grow: 1;
  font-size: 4rem;
  font-weight: bold;
}

.portfolio > .header > .arrows {
  display: flex;
  gap: 0.63rem;
}

.portfolio > .header .arrows button {
  height: 4rem;
  width: 4rem;
  border-radius: 0.63rem;
  background-color: var(--color-pink);
  color: var(--color-light);
}

.portfolio > .content {
  max-width: 46.88rem;
  display: flex;
  gap: 5rem;
}

.portfolio > .content > .pic {
  width: 450px;
  height: 450px;
  border: 0.25rem solid var(--color-pink);
  border-radius: 1.25rem;
}

.portfolio > .content > .info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.63rem;
}

.portfolio > .content > .info > .title {
  display: flex;
  gap: 1.25rem;
}

.portfolio > .content > .info > .title > h3 {
  font-size: 2.5rem;
  font-weight: bold;
}

.portfolio > .content > .info > .title > .social {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.portfolio > .content > .info > .title > .social > li > a {
  color: var(--color-blue);
}

.portfolio > .content > .info > p {
  display: flex;
}

.portfolio > .content > .info > .tags {
  display: flex;
  margin-top: 3.13rem;
}

.portfolio > .content > .info > .tags > li {
  font-size: 1.5rem;
  padding: 0.38rem 0.75rem;
  border-radius: 0.63rem;
  background-color: var(--color-blue);
}

/* Contact */
