.cont {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 10;
}

.cont .contBtn{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.cont.visible {
  display: block;
}

.cont.noVisible {
  display: none;
}

.button {
  height: 4rem;
  width: 4rem;
  border-radius: 0.63rem;
  background-color: var(--color-blue);
  color: var(--color-light);
  transition:
    background-color 0.2s,
    cursor 0.2s;
}

.button:hover {
  background-color: var(--color-light);
  cursor: pointer;
}

.arrow {
  color: var(--color-light);
  height: 2.63rem;
  transition: color 0.2s;
}

.button:hover .arrow {
  color: var(--color-back);
}
/*
@media (max-width: 1200px) {
  .cont {
    display: none;
  }
}
*/
