.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3.75rem;
}

.skills .areas {
  display: flex;
  justify-content: center;
  gap: 3.75rem;
}

.skills .areas > li {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 2.5rem;
  border: 0.13rem solid var(--trans-light);
  border-radius: 1.25rem;
  transition: background-color 0.2s;
}

.skills .areas > li:hover {
  background-color: var(--trans-light);
}

.skills .areas > li > h3 {
  display: flex;
  align-items: center;
  gap: 0.88rem;
  font-size: 2.5rem;
  font-weight: bold;
}

.skills .areas > li > h3 > .icon {
  color: var(--color-pink);
  height: 2.63rem;
}

.skills .areas > li > .techs {
  display: flex;
  flex-direction: column;
  gap: 0.63rem;
}

.skills .areas > li > .techs > li {
  font-size: 2rem;
}
